@import url('./views/main-view.css');
@import url('./views/my-simulations-view.css');
@import url('./views/simulation-view.css');
@import url('./views/results-view.css');
@import url('./views/library-view.css');
@import url('./views/discussion-view.css');
@import url('./views/team-view.css');
@import url('./views/settings-view.css');    html {
      --lumo-primary-color: hsl(214, 90%, 52%);
      --lumo-primary-text-color: hsl(214, 90%, 52%);
      --lumo-base-color: #f5f5f5;

    }

    [theme~="dark"] {

    }
